node_modules/
dist/
.turbo/
.astro/
*.tsbuildinfo
coverage/
playwright-report/
test-results/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local


# agent
.claude
.agents
.issues
skills-lock.json
.design/


# cf
.wrangler

# worktree
.worktree
